<IfModule mod_rewrite.c>
  RewriteEngine On
  RewriteBase /
  
  # Stop rewriting if requesting the backend API folder
  RewriteRule ^backend/ - [L]
  RewriteRule ^uploads/ - [L]
  
  RewriteRule ^index\.html$ - [L]
  RewriteCond %{REQUEST_FILENAME} !-f
  RewriteCond %{REQUEST_FILENAME} !-d
  RewriteCond %{REQUEST_FILENAME} !-l
  RewriteRule . /index.html [L]
</IfModule>
